openai
streamlit
python-dotenv
PyMuPDF
gspread
oauth2client
alpha_vantage
wbdata
lxml
yfinance 
pandas
pandas_datareader
numpy
matplotlib
plotly
plotly_express
#data/gfdd_summary.txt
#data/fred_summary.txt
#data/sec_summary.txt
python-pptx
seaborn
